* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    overflow-x: hidden;
}

.section-one::before {
    content: '';
    width: 100vw;
    height: 12vh;
    display: block;
}

.section-one {
    height: auto;
    width: 100vw;
}

.tryout-container {
    height: max-content;
    margin: auto 5rem;
    display: grid;
    grid-template-columns: 75% 25%;
}

.tryout-header {
    margin: 1rem 5rem;
    font-size: 1.5rem;
}

.soal-container {
    border-radius: 20px;
    margin: auto 2rem;
    padding: 2rem;
    background: #ffd464;
}

.soal {
    padding: 1rem;
}

.jawaban-container {
    margin: 10px auto;
    padding: 0.5rem;
    border-radius: 20px;
    background: #ffffff;
    display: flex;
    box-shadow: 0 0 4px rgba(100, 100, 100, 0.4);
}

.jawaban-container input {
    margin-top: 1ch;
}

.jawaban-container input,
.jawaban-container p {
    display: block;
}

.countdown {
    background: #f4643f;
    border-radius: 30px;
    width: 100%;
    height: max-content;
    text-align: center;
    padding: 1rem;
}

.nomor-container {
    width: 100%;
    height: max-content;
    border-radius: 30px;
    padding: 1rem;
    text-align: center;
    background: #f4643f;
    margin: 1rem auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nomor-div {
    margin-top: 0.5rem;
    display: grid;
    grid-template-columns: repeat(5, auto);
    width: calc((1.5rem * 5) + 2rem);
}

.nomor {
    width: 1.5rem;
    height: 1.5rem;
    background: #ffffff;
    margin: 0.25rem auto;
    border-radius: 5px;
    cursor: pointer;
}

.nomor.active {
    background: rgba(0, 0, 0, 1);
    color: #eeeeee;
}

.nomor.answered {
    background: rgb(20, 200, 20);
}

.submit-btn {
    padding: 0.5rem;
    background: rgb(231, 231, 231);
    color: #222222;
    border: none;
    border-radius: 20px;
    height: 50px;
    width: 100%;
    cursor: pointer;
    letter-spacing: 1px;
    overflow: hidden;
    position: relative;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.7);
}

.submit-btn.mousedown {
    transform: scale(0.95);
}

.submit-btn::before {
    content: 'SELESAI';
    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    top: 0;
    left: -100%;
    height: 100%;
    width: 100%;
    background: rgb(32, 110, 173);
    transition: 300ms ease;
    color: rgb(231, 231, 231);
}

.submit-btn:hover::before {
    left: -0%;
}

.confirmation-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    position: fixed;
}

.confirmation-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 1rem;
    width: 40%;
    height: 40%;
    background: rgba(240, 240, 240);
    position: relative;
    overflow: hidden;
}

.text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: auto;
}

.text-container h4 {
    padding: 0.4rem;
}

.btn-container {
    position: relative;
    margin-top: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: max-content;
}

.confirm-btn,
.cancel-btn {
    height: 3rem;
    width: 50%;
    color: #ffffff;
    border: none;
    cursor: pointer;
    letter-spacing: 1px;
}

.confirm-btn {
    background: rgb(32, 110, 173);
}

.cancel-btn {
    background: rgb(185, 44, 19);
}

@media only screen and (max-width: 768px) {
    .section-one {
        height: max-content;
    }

    .tryout-container {
        margin: auto 1rem;
    }

    .soal-container {
        margin: auto 1rem;
        padding: 1rem;
        font-size: 0.7rem;
    }

    .jawaban-container input {
        margin-top: 0.5ch;
    }

    .tryout-info {
        font-size: 0.8rem;
    }

    .countdown {
        padding: 0.5rem;
    }

    .nomor-div {
        display: grid;
        width: max-content;
        height: max-content;
    }

    .nomor {
        border-radius: 0;
        border: 1px solid rgba(100, 100, 100, 0.3);
        margin: 0;
    }

    .confirmation-content {
        width: 60%;
    }
}

@media only screen and (max-width: 480px) {
    .tryout-header {
        text-align: center;
        height: max-content;
        width: max-content;
        padding: 0;
        margin: auto;
        margin-bottom: 1rem;
        font-size: 1rem;
    }

    .tryout-container {
        display: flex;
        flex-direction: column;
    }

    .tryout-info {
        margin: 1rem 1rem;
    }

    .confirmation-content {
        width: 90%;
        font-size: 0.8rem;
    }

    .text-container {
        padding: 1rem;
    }
}

@media only screen and (max-width: 320px) {
    .tryout-container {
        margin: auto 0.2rem;
    }

    .soal-container {
        margin: 0;
    }

    .tryout-info {
        margin: 1rem 0;
    }
}
