* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    overflow-x: hidden;
}

body {
    background: #ffd464;
}

.section-one::before {
    content: '';
    width: 100vw;
    height: 12vh;
    display: block;
}

.section-one {
    height: auto;
    width: 100vw;
}

.tryout-container {
    background: #ffd464;
    height: max-content;
}

.tryout-header {
    padding: 2rem;
    padding-left: 4rem;
    background: #ffffff;
    font-size: 1.5rem;
}

.tryout-choice {
    margin: 2rem 4rem;
    padding: 1.1rem;
    padding-left: 3rem;
    background: #ffffff;
    border-radius: 1rem;
    transition: 200ms ease-in-out;
    height: 250px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.mulai-btn {
    padding: 0.5rem;
    background: rgb(13, 138, 221);
    border: none;
    border-radius: 20px;
    height: 50px;
    width: 150px;
    cursor: pointer;
    overflow: hidden;
    position: relative;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.7);
}

.mulai-btn::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: -100%;
    transform: skew(20deg);
    height: 100%;
    width: 100%;
    background: rgba(255, 255, 255, 0.164);
    transition: 300ms ease;
}

.mulai-btn:hover::before {
    left: 100%;
}

.link {
    text-decoration: none;
    color: rgba(245, 245, 245, 1);
    font-size: 0.8rem;
    padding: 10px;
}

@media only screen and (max-width: 768px) {
    .section-one::before {
        background: #ffffff;
        height: 5vh;
    }

    .section-one {
        height: max-content;
        width: 100vw;
    }

    .tryout-container {
        height: 100%;
    }
}

@media only screen and (max-width: 480px) {
    .tryout-header {
        padding: 1rem;
        text-align: center;
        height: 150px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.3rem;
        box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
    }

    .tryout-choice {
        margin: 2rem auto;
        padding: 1rem;
        padding-left: 2rem;
        padding-right: 2rem;
        background: #ffffff;
        border-radius: 1rem;
        justify-content: space-evenly;
        width: 90%;
        height: 300px;
        font-size: 0.8rem;
    }
}
